<ion-header>
  <ion-toolbar>
    <ion-title>Sitios turísticos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngIf="site.length > 0; else noPlaces">
    <ion-item *ngFor="let s of site">
      <ion-label>
        <h2>{{ s.name }}</h2>
        <p>Tipo: {{ s.type }}</p>
        <p>Lat: {{ s.lat }}, Lng: {{ s.lng }}</p>
      </ion-label>

        <ion-button
          fill="outline"
          (click)="toggleFavorite(s.id!)"
          color=" {{ isFavorite(s.id!) ? 'danger' : 'medium' }}"
        >
          <ion-icon
            [name]="isFavorite(s.id!) ? 'heart' : 'heart-outline'"
            [color]="isFavorite(s.id!) ? 'danger' : 'medium'"
            slot="start"
          ></ion-icon>
          {{ isFavorite(s.id!) ? 'Favorito' : 'Añadir a favoritos' }}
        </ion-button>
    </ion-item>
  </ion-list>

  <ng-template #noPlaces>
    <ion-text color="medium">
      <p>No hay sitios registrados para esta ciudad.</p>
    </ion-text>
  </ng-template>
</ion-content>
