<ion-header>
  <ion-toolbar>
    <ion-title>Países</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngIf="countries.length > 0; else noData">

    <ng-container *ngFor="let country of countries">
      <!-- País -->
      <ion-item
        button
        detail
        (click)="toggleCountry(country.id!)"
      >
        {{ country.name }} ({{ country.iso }})
      </ion-item>

      <!-- Ciudades del país seleccionado -->
      <div *ngIf="expandedCountryId === country.id" class="city-dropdown">
        <ion-item
          lines="none"
          *ngFor="let city of citiesByCountry[country.id] || []"
        >
          <ion-label>{{ city.name }}</ion-label>
        </ion-item>
      </div>
    </ng-container>

  </ion-list>

  <ng-template #noData>
    <ion-text color="medium">
      <p class="ion-padding">No se encontraron países.</p>
    </ion-text>
  </ng-template>
</ion-content>
